<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ecpr_service_name" value="ECPR Sync her unstable" />
    <add key="ecpr_service_description" value="Envoy ECPR Sync her unstable" />
    <add key="ecpr_service_displayname" value="Envoy ECPR Sync her unstable" />
    <add key="ecpr_config_url" value="http://192.168.0.57/api/config/ecpr.json" />
    <add key="ecpr_is_fetched" value="true" />
    <add key="ecpr_http_basic_auth_username" value="ecpr" />
    <add key="ecpr_http_basic_auth_password" value="Test@1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ecpr_customer_code" value="her" />
    <add key="ecpr_customer_environment" value="p" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSRegion" value="us-west-2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.0.0" newVersion="0.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
