<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.18.2" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.11.4" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="MsgPack.Cli" version="0.9.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Targets.Fluentd" version="1.0.4" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SharpCompress" version="0.18.2" targetFramework="net452" />
  <package id="SqlTableDependency" version="6.1.0.0" targetFramework="net452" />
</packages>